<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User History</title>
</head>
<body>
    <h1> User History </h1>
    <div>
        <button onclick="returnSelected()">Return Selected Books</button>
        <script>
            const returnSelected = () => {
                const selectedValues = document.querySelectorAll('input[name="selected_requests"]:checked');
                const resIds = Array.from(selectedValues).map(res => res.value);

                fetch('/books/return', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ id: resIds })
                }).then(res => {
                    alert(res);
                }).catch(err => {
                    console.error('An error occurred. Contact Admin.');
                });
                location.reload();
            }
        </script>
    </div>
    <table>
        <thead>
            <tr>
                <th>Select</th>
                <th>Book Title</th>
                <th>Book Author</th>
                <th>Book Genre</th>
                <th>Requested On</th>
                <th>Fine</th>
                <th>Request Status</th>
            </tr>
        </thead>
        <tbody>
            <% requests.forEach(request => {%>
            <tr>
                <td> 
                    <input type="checkbox" name="selected_requests" value="<%= request.res_id %>" <% if (request.status !== 'approved' || request.book_count <= 0) { %> disabled <% } %>> 
                </td>
                <td> <%= request.book_title %> </td>
                <td> <%= request.book_author %> </td>
                <td> <%= request.book_genre %> </td>
                <td> <%= request.start_time %> </td>
                <td> Rs. <%= request.fine %> </td>
                <td> <%= request.status %> </td>
            </tr>
            <% });%>
        </tbody>
    </table>
</body>
</html>