<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Available</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Following Users are reegistered</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => {%>
            <tr>
                <td> <%= user.user_id %> </td>
                <td> <%= user.user_name %> </td>
                <td> <%= user.user_phone %> </td>
                <td> <%= user.user_email %> </td>
                <td> <%= user.user_address %> </td>
                <td> <%= user.user_role %> </td>
            </tr>
            <% });%>
        </tbody>
    </table>
</body>
</html>
