<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered Users</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Registered Users</h1>
    <form action="/users" method="GET"></form>
        <label for="q">Filter</label>
        <input type="text" name="q" placeholder="example: &quot;name:foobar,email:*@example.com&quot; ">
        <button type="submit">Apply</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Select</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => {%>
            <tr>
                <td> <input type="checkbox" name="selected_users" value="<%= user.user_id %>"> </td>
                <td> <%= user.user_name %> </td>
                <td> <%= user.user_phone %> </td>
                <td> <%= user.user_email %> </td>
                <td> <%= user.user_address %> </td>
                <td> <%= user.user_role %> </td>
            </tr>
            <% });%>
        </tbody>
    </table>
    <!-- add buttons for "make admin" and "delete users"-->
    <div>
        <button id="makeAdminBtn" onclick="makeAdmin()">Make Admin</button>
        <button id="deleteUsersBtn" onclick="deleteUsers()">Delete Users</button>
    </div>
    <script>
        const makeAdmin = () => {
            const selectedUsers = document.querySelectorAll('input[name="selected_users"]:checked');
            const userIds = Array.from(selectedUsers).map(user => user.value);

            fetch('/admin/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: userIds })
            }).then(async res => {
                // console.log(`${await res}`);
            }).catch(err => {
                // console.log(`${err}`);
            });
        };
      
        const deleteUsers = () => {
            const selectedUsers = document.querySelectorAll('input[name="selected_users"]:checked');
            const userIds = Array.from(selectedUsers).map(user => user.value);

            // console.log(userIds);

            fetch('/users/remove', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: userIds })
            }).then(async res => {
                // console.log(`${await res}`);
            }).catch(err => {
                // console.log(`${err}`);
            });
        };
      </script>
      
</body>
</html>
